/* NOTE: This is for when editing, uncomment to draw a red line on every element. */
/* * {
    outline: 1px solid red;
} */

html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--regular-font);
    background-color: #f2ede6;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

:root {
    --dark-green: #51742e;
    --medium-green: #6f7d42;
    --light-green: #afb888;
    --dark-brown: #d18a59;
    --light-brown: #f2dec6;
    --brand-font: "Lobster Two", cursive;
    --regular-font: "Nunito Sans", sans-serif;
}

/* Scrollbar Chrome, Edge, Safari. Sorry FireFox another day I'll add code for you ------------------------------------ */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: var(--light-green);
}

::-webkit-scrollbar-thumb {
    background: var(--medium-green);
    border: 1px solid black;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--dark-green);
}
