html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    min-height: 100vh;
}

:root {
    --dark-green: #374b2d;
    --medium-green: #6f7d42;
    --light-green: #afb888;
    --dark-brown: #d18a59;
    --light-brown: #f2dec6;
}

/* Brand Images ------------------------------------------------------------------------------------- */
.mini-logo {
    width: 40px;
    margin: 5px 5px 0 5px;
}

/* Header -------------------------------------------------------------------------------------------- */
header {
    font-family: "Lobster Two", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    background-color: var(--light-green);
    padding: 5px;
}
